<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="8">
    <metadata key="name" value="Foot plug"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="962"/>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="Foot plug"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="TRMNL frame.3mf"/>
      <metadata key="source_object_id" value="1"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="54"/>
      <metadata key="source_offset_y" value="4.1499998569488525"/>
      <metadata key="source_offset_z" value="-25.090000152587891"/>
      <mesh_stat face_count="962" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="6">
    <metadata key="name" value="Wall cleat"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="1752"/>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="Wall cleat"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="TRMNL frame.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="7.7000000476837158"/>
      <metadata key="source_offset_z" value="44.109994888305664"/>
      <mesh_stat face_count="1752" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="2">
    <metadata key="name" value="Frame"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="12148"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Frame"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="TRMNL frame.3mf"/>
      <metadata key="source_object_id" value="3"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="4.3000000715255737"/>
      <metadata key="source_offset_z" value="-3.1399974822998047"/>
      <mesh_stat face_count="12148" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="4">
    <metadata key="name" value="Panel support"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="196318"/>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="Panel support"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="TRMNL frame.3mf"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="5.049994945526123"/>
      <metadata key="source_offset_z" value="-3.1400012969970703"/>
      <mesh_stat face_count="196318" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="2"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1630"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="4"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1608"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="6"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1564"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="8"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1586"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="8" instance_id="0" transform="1 0 0 0 1 0 0 0 1 182 127.84999960660934 5" offset="0 0 0" />
   <assemble_item object_id="6" instance_id="0" transform="1 0 0 0 1 0 0 0 1 128 131.39999979734421 7.6000022888183594" offset="0 0 0" />
   <assemble_item object_id="2" instance_id="0" transform="1.0000000000000004 0 0 0 1 0 0 0 1.0000000000000004 128 127.99999982118607 58.349998474121094" offset="0 0 0" />
   <assemble_item object_id="4" instance_id="0" transform="1 0 0 0 1 0 0 0 1.0000000000000002 128 128.74999469518661 56.849998474121094" offset="0 0 0" />
  </assemble>
</config>
